body {
	background-color: whitesmoke;
	font-size: 1.25em;
}

header {
	text-align: center;
	background-color: #ff5060;
	min-height: 10em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	color: whitesmoke;
	box-shadow: 0 -2em 2em 2em black;
	margin-bottom: 4em;
}

p {
	text-align: justify;
}

div.code {
	font-size: 0.8em;
	tab-size: 2;
}

p,
div.code {
	margin-left: auto;
	margin-right: auto;
	max-width: 43em; /* match width of title */
	padding: 1em 0;
}

div.code > pre {
	padding: 2em;
	margin-top: 0.5em;
}
